@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#ul li{
    text-transform: capitalize;
    color: #fc4a1a;
    list-style-type: disc;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

button{
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: red;
    color: #fff;
    border: none;
}

#list li{
    text-transform: capitalize;
    font-size: 20px;
    color: blue;
    font-family: 'Poppins', sans-serif;
}